<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
  .jumbotron{
    margin-bottom: 0px;
  }
</style>
<body>
  {% include "exam/navbar.html" %}
  <br><br>
  <div class="jumbotron" style="margin-bottom:0px;">
    <center><h1 class="display-4">Hello Student,</h1></center>
    
    <p class="lead">and Welcome to Online Examination System</p>
    <hr class="my-4">
    <p>Select any of them to access into the system</p>
    <p class="lead">
      <a class="btn btn-secondary rounded-0" href="student/studentsignup" role="button">Create Your Account</a>
      <a class="btn btn-primary rounded-0" href="student/studentlogin" role="button">Login Now</a>
    </p>
    <br><br><br><br><br><br>
  </div>
 
  {% include "exam/footer.html" %}


</body>

</html>
